<h2>Character Creation</h2>
<br/>Miridon Hunters is designed with fast character creation. After learning to create a character, you should be able to create characters fast. Just follow these steps.

<br/><br/><h3>1) Choose the Initial Level</h3>
<br/>It is ultimately for the GM to choose the level the campaign is run at. This should affect the feel of the game.
<br/><br/>Low Level - The characters are just starting out in Miridon. Challenging the established powers will likely lead to their death.
<br/><br/>All you can really do is survive. Taking advantage of the law and powerful allies is the easiest way to do this.
<br/><br/>Medium Level - The characters are adept in Miridon. They are strong enough to serve in a defense force, a raiding party, or the Imperial police. They still need to work with others, but surviving the world of Miridon is not really a challenge if they follow the rules.
<br/><br/>High Level - The characters are leaders of Miridon. Affecting the politics of Miridon isn't a pipe dream anymore. The characters should be strong enough to level villages or found them.
<br/><br/>Epic Level - The characters are legends in Miridon. Their power is legendary, and myths are formed around them. There are few characters in Miridon that are at this level.

<br/><br/><h3>2) Choose a Class</h3>
<br/>There are many starting classes. The primary difference between these classes is the starting statistics and the skills available to the class. Refer to the next chapter for the list of classes.

<br/><br/><h3>3) Set your Starting Stats</h3>
<br/>Based on your initial level, your characters have different starting stats. 
<br/><br/>The [Maximum Ghost HP] listed is the maximum value for this stat. The character can have any value for [Maximum Ghost HP] between 0 and this number.
<br/><br/><table>
	<tr>
		<td>Power Level</td>
		<td>Maximum<br/>Strength Points</td>
		<td>Maximum<br/>Speed Points</td>
		<td>Skill<br/>Points</td>
		<td>Maximum<br/>Ghost HP</td>
		<td>Pounds<br/>(Wealth)</td>
	</tr>
	<tr><td>Strong (Low-Level)</td>
		<td>12</td>
		<td>8</td>
		<td>50</td>
		<td>20</td>
		<td>50</td>
	</tr>
	<tr><td>Balanced (Low-Level)</td>
		<td>10</td>
		<td>10</td>
		<td>50</td>
		<td>20</td>
		<td>50</td>
	</tr>
	<tr><td>Fast (Low-Level)</td>
		<td>8</td>
		<td>12</td>
		<td>50</td>
		<td>20</td>
		<td>50</td>
	</tr>
	<tr><td>Strong (Mid-Level)</td>
		<td>23</td>
		<td>17</td>
		<td>400</td>
		<td>50</td>
		<td>500</td>
	</tr>
	<tr><td>Balanced (Mid-Level)</td>
		<td>20</td>
		<td>20</td>
		<td>400</td>
		<td>50</td>
		<td>500</td>
	</tr>
	<tr><td>Fast (Mid-Level)</td>
		<td>17</td>
		<td>23</td>
		<td>400</td>
		<td>50</td>
		<td>500</td>
	</tr>
	<tr><td>Strong (High-Level)</td>
		<td>34</td>
		<td>26</td>
		<td>1500</td>
		<td>100</td>
		<td>5000</td>
	</tr>
	<tr>
		<td>Balanced (High-Level)</td>
		<td>30</td>
		<td>30</td>
		<td>1500</td>
		<td>100</td>
		<td>5000</td>
	</tr>
	<tr>
		<td>Fast (High-Level)</td>
		<td>26</td>
		<td>34</td>
		<td>1500</td>
		<td>100</td>
		<td>5000</td>
	</tr>
	<tr><td>Strong (Epic-Level)</td>
		<td>45</td>
		<td>35</td>
		<td>3500</td>
		<td>200</td>
		<td>50000</td>
	</tr>
	<tr>
		<td>Balanced (Epic-Level)</td>
		<td>40</td>
		<td>40</td>
		<td>3500</td>
		<td>200</td>
		<td>50000</td>
	</tr>
	<tr>
		<td>Fast (Epic-Level)</td>
		<td>35</td>
		<td>45</td>
		<td>3500</td>
		<td>200</td>
		<td>50000</td>
	</tr>
</table>

<br/><h3>4) Calculate Derived Stats</h3>
<br/>Go to the [Derived Stats] section later in this chapter.

<br/><br/><h3>5) Spend your Skill Points</h3>
<br/>You can spend [Skill Points] on [Skills], [Talents], and [Flairs].
<br/><br/>The first [Flair] costs 0 [Skill Points].
<br/><br/>This may change your [Derived Stats].

<br/><br/><h3>6) Purchase Weapon and Armor</h3>
<br/>Find a [Weapon] that is suitable for your character and buy it.
<br/><br/>Find an [Armor] that is suitable for your character and buy it.
<br/><br/>