<h2>Derived Stats</h2>
<br/><h3>Maximum Physical HP</h3>
<br/>Your [Maximum Physical HP] is the total damage a character can take before falling unconscious. It is determined by your [Maximum Strength Points] and your [Maximum Speed Points].
<br/><br/>[Maximum Physical HP] = 5 * [Maximum Strength Points] + 5 * [Maximum Speed Points].

<br/><br/><h3>Character's Weight</h3>
<br/>Your [Character's Weight] is the total [Weight] of a character before equipment.  It is determined by your [Maximum Strength Points] and your [Maximum Speed Points].
<br/><br/>[Character's Weight] (lbs) = 100 + 5 * [Maximum Strength Points] + 5 * [Maximum Speed Points].
<br/><br/>Eating a [Dead] character will provide [Character's Weight] in [Protein].