<h2>Experience Points:</h2>
<br/>Characters have effectively 4 different types of experience,
<br/>[Skill Points], [Strength XP], [Speed XP], nda [Food Digestion Points].

<br/><br/><h3>Skill Points:</h3>
<br/>As time progresses, characters become more and more adept with their mental acuity. Characters gain [Skill Points] in battle.
<br/><br/>Low level battles award around 10 [Skill Points].
<br/><br/>Medium level battles award around 20 [Skill Points].
<br/><br/>High level battles award around 30 [Skill Points].
<br/><br/>Epic level battles award around 40 [Skill Points].

<br/><br/><h3>Strength XP / Speed XP:</h3>

<br/>Eating a [Dead] character will provide [Character's Weight] in [Protein].
<br/><br/>A [Character's Weight] is derived in [Derived Stats].

<br/><br/>Produce can only be found past the outer rim in ghost territory. You will usually gather 1 pound of [Produce] per [Maximum Ghost HP] faced. The most powerful ghosts lie in the far end of ghost territory, where food is abundant, but if you spend too much time gathering the food you will be attacked.

<br/><br/>Each day characters can digest their [Maximum Strength Points] in either [Protein] or [Produce].
<br/><br/>Eating [Protein] or [Produce] will recover 5 [Current Physical HP] per pound eaten.
<br/><br/>Food digestion also gives boosts to [Strength XP] and [Speed XP]. The [Strength XP] and [Speed XP] are boosted based on the pounds eaten.
<br/><br/>Every pound of [Protein] adds 1 [Strength XP].
<br/><br/>Every pound of [Produce] adds 10 [Speed XP].
<br/><br/>The total amount of [Strength XP] and [Speed XP] that can be gained is limited to the number of [Food Digestion Points] you have gained in battle. If you run out of [Food Digestion Points], then eating food will only serve to recover your health.
<br/><br/>Low level battles give around 15 [Food Digestion Points].
<br/><br/>Medium level battles give around 30 [Food Digestion Points].
<br/><br/>High level battles give around 45 [Food Digestion Points].
<br/><br/>Epic level battles give around 60 [Food Digestion Points].
<br/><br/>When a character's [Strength XP] reaches 25 * [Maximum Strength Points], the character's [Maximum Strength Points] are permantently increased by 1.
<br/><br/>Once the [Maximum Strength Points] increase, revert the [Strength XP] to 0.
<br/><br/>When a character's [Speed XP] reaches 25 * [Maximum Speed Points], the character's [Maximum Speed Points] are permantently increased by 1.
<br/><br/>Once the [Maximum Speed Points] increase, revert the [Speed XP] to 0.
